/*
Theme Name: Platz
Theme URI: 
Author: Dcrazed
Author URI: https://dcrazed.com/
Description: Platz is a free grid wordpress theme with responsive design for showing digital products, freebies similar to websites like freepik. Let your users upload images, content to your website and have their own author marketplace.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, four-columns, responsive-layout, featured-images, fixed-width-template, blogging, freebie
Text Domain: platz
    
*/

/*-------------------------*/
/* SOCIAM FONT ICON */
/*-------------------------*/

@font-face {
  font-family: 'socialicoregular';
  src: url('font/socialico-webfont.eot');
  src: url('font/socialico-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/socialico-webfont.woff2') format('woff2'),
  url('font/socialico-webfont.woff') format('woff'),
  url('font/socialico-webfont.ttf') format('truetype'),
  url('font/socialico-webfont.svg#socialicoregular') format('svg');
}

@font-face {
  font-family: 'socialico_plusregular';
  src: url('font/socialico_plus-webfont.eot');
  src: url('font/socialico_plus-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/socialico_plus-webfont.woff2') format('woff2'),
  url('font/socialico_plus-webfont.woff') format('woff'),
  url('font/socialico_plus-webfont.ttf') format('truetype'),
  url('font/socialico_plus-webfont.svg#socialico_plusregular') format('svg');
}

/*-------------------------*/
/* DON'T TOUCH  */
/*-------------------------*/

.disable-hover {
  pointer-events: none;
}

img{vertical-align:bottom;}

a {
  text-decoration:none;
}

ul { 
  list-style-type: none; 
  margin:0;
  padding:0;
}

/*-------------------------*/
/* MAIN CLASS TRANSITION FOR EFFECT HOVER*/
/*-------------------------*/

.object {
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 0.25s ease-in-out; /** Firefox **/
  -o-transition: all 0.25s ease-in-out; /** Opera **/
}

/*----------------------------*/
/* BODY SETTINGS */
/*----------------------------*/

body,html{
  padding:0;margin:0;
  background-color:#F4F4F4;
}

.cache{
  width:100%;
  height:100%;
  position:absolute;
  background-color:#FFF;
  z-index:1000;
}

/*----------------------------*/
/* CUSTOM SCROLLBAR  */
/*----------------------------*/

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background:#eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
}

::-webkit-scrollbar-thumb {
  background:#999;
  border: thin solid gray;
}

/*----------------------------*/
/* HEADER BLACK TOP WITH LOGO */
/*----------------------------*/

#wrapper-header{
  float:left;
  width:105%;
  height:65px;
  background-color:#2E2D30;
  opacity:0;
}

#main-header{
  position:relative;
  width:1200px;
  left:50%;
  margin-left:-600px;
  height:auto;
}

.logo{
  position:absolute;
  margin-top:13.5px;
  left:15px;
}

#stripes{
  background: url(img/stripes.svg) no-repeat;
  position:absolute;
  width:27px;
  height:20px;
  right:15px;
  top:22.5px;
  cursor:pointer;
  display:none;
}

.logo img{height:100%;width:100%;}

/*----------------------------*/
/* SUB WHITE NAV BAR */
/*----------------------------*/

#wrapper-navbar{
  float:left;
  width:100%;
  height:0px;
  background-color:#FFF;
  border-bottom:solid #EDEDED 1px;
  opacity:0;
}

.navbar{
  position:relative;
  width:1200px;
  left:50%;
  margin-left:-600px;
  height:100%;
  top:0;
}

.top-rated,.recent,.oldies{
  float:left;
  text-align:left;
  font-family: 'Roboto',sans-serif;
  font-size: 13px;
  height:40px;
  line-height:40px;
  margin-top:10px;
  cursor:pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  letter-spacing:1.5px;
}

.top-rated{color:#666;margin-left:15px;font-weight:500;}
.recent,.oldies{color: #CCC;margin-left:80px;font-weight:500;margin-left:40px;}

.top-rated:hover,.recent:hover,.oldies:hover{color:#666;opacity:1;}

#fleche-nav-1,#fleche-nav-2,#fleche-nav-3{
  float:left;
  margin-top:26px;
  background: url(img/fleche-nav.svg) no-repeat ;
  width:5px;
  height:10px;
  margin-left:5px;
}

#fleche-nav-2,#fleche-nav-3{opacity:0.5;}

#wrapper-bouton-icon{display:block;}
#bouton-ai,#bouton-psd,#bouton-photo,#bouton-font,#bouton-theme,#bouton-premium{
  float:right;
  width:28px;
  height:28px;
  margin-top:16px;
  margin-right:15px;
  cursor:pointer;
  opacity:1;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}

#bouton-ai:hover,#bouton-psd:hover,#bouton-photo:hover,#bouton-font:hover,#bouton-theme:hover,#bouton-premium:hover{opacity:0.5;transform: scale(1.2);}

#bouton-ai img,#bouton-psd img,#bouton-photo img,#bouton-font img,#bouton-theme img,#bouton-premium img{width:100%;height:100%;}










.logo a{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  line-height: 1;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.nav{
  float: right;
  margin-top: 15px;
}

.nav a{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  line-height: 30px;
  color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
